* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.navbar {
  height: 50px;
  background-color: black;
  top: 0;
}

a{
    text-decoration:none;
    color:white;
    font-weight:500;
}

a:hover{
    color:red;
    opacity:0.8;
}


.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 50px;
  color: skyblue;
}

.menu-container {
  flex: 4;
}

.menu-list {
  display: flex;
  list-style: none;

}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}

.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 70%;
  color: white;
  font-size:19px;
  margin: 30px 0;
  font-family: Arial, Helvetica, sans-serif;
}

#bj{
    color:black;
    font-size:22px;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-title{
    color:purple;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 330px;
  height: 280px;
  border-radius: 20px;

}

.movie-list-item-title {
  background-color: white;
  color:purple;
  border-radius:10px;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: purple;
  border-radius:20px;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 80px;
  position: absolute;
  top: 90px;
  right: 0;
  color: black;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.left-menu-icon.active{
    color: black;
}

.footer{
    height:70px;
    background:purple;
    text-align:center;
}

.footer,href{
    padding-top:60px;
}

.mf{
    padding:40px;
    color:black;
    text-decoration:none;
}

.mf:hover{
    color:red;
    transition:0.3s ease-out;
}

.copyr{
    padding-top:30px;
}

}